<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetings</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="meeting-slots">
        <div id="slots-List"></div>
    </div>
    <div id="slotTime"></div>
    <br>
    <div class="dropdown " id="dropdown-container" style="display: none;">
        <form id="my-form" >
            <label for="name">Name</label>
            <input type="text" id="name">
            <label for="email">Email</label>
            <input type="text" id="email">
            <button type="submit" id="submit-button" class="btn btn-success">Submit</button>
        </form> 
    </div>
    <h1 id="titleMeet">Meeting Scheduled</h1>
    <div id="meet-Schedule" class="card">
    </div>
    <script src="./index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
co